In [4]:
!pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\alokc\anaconda3\lib\site-packages (from selenium) (1.26.4)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [1]:
import csv
import sys
from datetime import date
import pandas as pd
import selenium.webdriver
import numpy as np
from bs4 import BeautifulSoup
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from dateutil.relativedelta import relativedelta

In [2]:
#for exception
import linecache
import sys

def PrintException():
    exc_type, exc_obj, tb = sys.exc_info()
    f = tb.tb_frame
    lineno = tb.tb_lineno
    filename = f.f_code.co_filename
    linecache.checkcache(filename)
    line = linecache.getline(filename, lineno, f.f_globals)
    print('EXCEPTION IN ({}, LINE {} "{}"): {}'.format(filename, lineno, line.strip(), exc_obj))

In [3]:
def scrap(origin,destin,trDate):
    global none
    # User defined variables for data retreival
    #origin = "BOM" 				# Origin airport code
    #destin = "DEL" 				# Destination airport code
    #trDate = ('30'+'/'+'09'+'/2021')			# Date as 1st command line argument.
    #print(sys.argv)

    """ The following is the Base Url for fetching data from MakeMyTrip Website.
        This URL appears in the search bar after origin, destination and date inputs on the landing page.
        Thus, this URL can be changed based on User Inputs and required data can be fetched.
    """
    baseDataUrl = "https://www.makemytrip.com/flight/search?itinerary="+ origin +"-"+ destin +"-"+ trDate +"&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E"

    try:
        driver = selenium.webdriver.Chrome('chromedriver.exe') # Chrome driver is being used.
        print ("Requesting URL: " + baseDataUrl)

        driver.get(baseDataUrl)  			 # URL requested in browser.
        print ("Webpage found ...")

        element_xpath = '//*[@id="left-side--wrapper"]/div[2]' # First box with relevant flight data.

        # Wait until the first box with relevant flight data appears on Screen
        element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))

        # Scroll the page till bottom to get full data available in the DOM.
        print ("Scrolling document upto bottom ...")
        for j in range(1, 100):
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        # Find the document body and get its inner HTML for processing in BeautifulSoup parser.
        body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

        print("Closing Chrome ...") # No more usage needed.
        driver.quit() 				# Browser Closed.

        print("Getting data from DOM ...")
        soupBody = BeautifulSoup(body) # Parse the inner HTML using BeautifulSoup
        
        # Extract the required tags 
        spanFlightName = soupBody.find_all("span", 'boldFont blackText airlineName')		# Tags with Flight Name
        print("spanFlightName  = " + str(len(spanFlightName)))

        Time = soupBody.find_all("p", {"class":"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})			# Tags with Departure Time
        print("Time Count in Scraping  = " + str(len(Time)))

        City = soupBody.findAll("p", {"class": "darkText"})				# Tags with Departure City
        print("City Count in Scraping  = " + str(len(City)))

        spanFlightCost = soupBody.findAll("p", {"class": "blackText fontSize18 blackFont white-space-no-wrap"})			# Tags with Flight Cost
        print("spanFlightCost Count in Scraping  = " + str(len(spanFlightCost)))

        pFlightStops = soupBody.findAll("p", {"class": "flightsLayoverInfo"})			# Tags with flight stops
        print("pFlightStops Count in Scraping  = " + str(len(pFlightStops)))
        
        transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops)



   
    except :
        PrintException()
        print(trDate," scraping complete")
        
        none =True 
    # EOF
    # ----------------------------------------------------------------------------------------------------------
    #print("Records\nFlight Name: "+ str(len(spanFlightName)) + "\nFlightCode: "+ str(len(pFlightCode)) + "\nDept Time: "+ str(len(divDeptTime)) + "\nDept City: "+ str(len(pDeptCity)) + "\nFlight Duration: "+ str(len(pFlightDuration)) + "\nArrival Time: "+ str(len(pArrivalTime)) + "\nArrival City: "+ str(len(pArrivalCity)) + "\nFlight Cost: "+ str(len(spanFlightCost)))
    #print(flightsData)
    #print(outputFile)

In [4]:
dates=(pd.date_range(start='15/10/2021', end='15/11/2021')) #dates 

New_date=[]
for i,date in enumerate(dates):
    day=str(date.day).zfill(2)   # 1 --->01,2--->02 conversion
    month=str(date.month).zfill(2)
    year=str(date.year)
    
    date=day+'/'+month+'/'+year  #formating date
    New_date.append(date)
print(New_date)

['15/10/2021', '16/10/2021', '17/10/2021', '18/10/2021', '19/10/2021', '20/10/2021', '21/10/2021', '22/10/2021', '23/10/2021', '24/10/2021', '25/10/2021', '26/10/2021', '27/10/2021', '28/10/2021', '29/10/2021', '30/10/2021', '31/10/2021', '01/11/2021', '02/11/2021', '03/11/2021', '04/11/2021', '05/11/2021', '06/11/2021', '07/11/2021', '08/11/2021', '09/11/2021', '10/11/2021', '11/11/2021', '12/11/2021', '13/11/2021', '14/11/2021', '15/11/2021']

In [5]:
# various list container
Airline=[]
Journey_date=[]
From=[]
To=[]
Price=[]
Dtime=[]
Atime=[]
Stops=[]

flight_data = pd.DataFrame(np.nan, index=[0], columns=['Airline', 'Journey_date','From','To','Dtime','Atime','Stops','Price'])
flight_data.to_csv('Flight.csv')
#transforming scraped data 
def transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops):
    
    Airline.clear()
    Journey_date.clear()
    Price.clear()
    Stops.clear()
    From.clear()
    Dtime.clear()
    To.clear()
    Atime.clear()
    
    global flight_data
    print("Transaform Function Running.... ")
    for i in range(0,len(spanFlightName)):
        
        Airline.append(spanFlightName[i].string)
        Journey_date.append(trDate)
        Price.append(spanFlightCost[i].string)
        Stops.append(pFlightStops[i].string)
        
      
    for j in range(0,len(Time)):
        
        if(j%2==0):
            
            From.append(City[j].string)
            Dtime.append(Time[j].string)
        else:
            
            To.append(City[j].string)
            Atime.append(Time[j].string) 

            
            
    temp = {'Airline':Airline,
            'Journey_date':Journey_date,
            'From':From,
            'To':To,
            'Dtime':Dtime,
            'Atime':Atime,
            'Stops':Stops,
            'Price':Price}
    df=pd.DataFrame(temp)
    
    df.to_csv('Flight.csv', mode='a', header=False)
        
    flight_data = pd.concat([flight_data,df])
    flight_data=flight_data.reset_index(drop=True)
    display(flight_data)
    print('Lenght : ',len(flight_data))

In [ ]:
## applying various state combination and extrating  1 month flight data

list_of_state=['RPR','GOI','AMD','IXC','IXR','IXW','VTZ','TIR','KUU','BLR','COK','IDR','PNQ','BOM','DEL','IMF','SHL','AJL','DMU','BBI','LUH','JAI','MAA','LKU','VNS','DED','CCU']
# 
for i in range(0,len(list_of_state)):
    orgin=list_of_state[i]
    for_to=list_of_state
    
    
    
    print("--------------")
    for j in range(0,len(for_to)):
        destin=for_to[j]
        none = False
        print("origin = "+orgin)
        print("destin = "+destin+'\n')
        
        if orgin!=destin:
            for i,date in enumerate(New_date) :
                if none !=True:
                    scrap(orgin,destin,date)
                    print(" ")
                else:
                    break
                
        else: 
            
            print( "-----Skiped-----")
            print(" ")

--------------
origin = PAT
destin = PAT

-----Skiped-----

origin = PAT
destin = jknaknnaknja

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-jknaknnaknja-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-e63b93705f05>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

15/10/2021  scraping complete

origin = PAT
destin = MAA

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
5,IndiGo,15/10/2021,Patna,Chennai,11:50,19:35,1 stop via Bengaluru,"₹ 7,512"
6,IndiGo,15/10/2021,Patna,Chennai,13:20,20:25,1 stop via Kolkata,"₹ 7,512"
7,Spicejet,15/10/2021,Patna,Chennai,15:05,21:25,1 stop via Bengaluru,"₹ 7,512"
8,IndiGo,15/10/2021,Patna,Chennai,13:00,21:50,1 stop via Ranchi,"₹ 7,512"
9,IndiGo,15/10/2021,Patna,Chennai,16:30,23:35,1 stop via New Delhi,"₹ 7,512"
10,IndiGo,15/10/2021,Patna,Chennai,18:20,00:10,1 stop via Kolkata,"₹ 7,512"
11,IndiGo,15/10/2021,Patna,Chennai,16:20,19:00,Non stop,"₹ 7,932"
12,IndiGo,15/10/2021,Patna,Chennai,13:20,18:45,1 stop via Kolkata,"₹ 8,158"
13,Air India,15/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,300"
14,IndiGo,15/10/2021,Patna,Chennai,17:50,23:40,1 stop via Hyderabad,"₹ 9,770"

Lenght :  15

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
5,IndiGo,15/10/2021,Patna,Chennai,11:50,19:35,1 stop via Bengaluru,"₹ 7,512"
6,IndiGo,15/10/2021,Patna,Chennai,13:20,20:25,1 stop via Kolkata,"₹ 7,512"
7,Spicejet,15/10/2021,Patna,Chennai,15:05,21:25,1 stop via Bengaluru,"₹ 7,512"
8,IndiGo,15/10/2021,Patna,Chennai,13:00,21:50,1 stop via Ranchi,"₹ 7,512"
9,IndiGo,15/10/2021,Patna,Chennai,16:30,23:35,1 stop via New Delhi,"₹ 7,512"
10,IndiGo,15/10/2021,Patna,Chennai,18:20,00:10,1 stop via Kolkata,"₹ 7,512"
11,IndiGo,15/10/2021,Patna,Chennai,16:20,19:00,Non stop,"₹ 7,932"
12,IndiGo,15/10/2021,Patna,Chennai,13:20,18:45,1 stop via Kolkata,"₹ 8,158"
13,Air India,15/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,300"
14,IndiGo,15/10/2021,Patna,Chennai,17:50,23:40,1 stop via Hyderabad,"₹ 9,770"
15,Go First,16/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
16,IndiGo,16/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
17,IndiGo,16/10/2021,Patna,Chennai,11:35,18:50,1 stop via Hyderabad,"₹ 7,512"
18,IndiGo,16/10/2021,Patna,Chennai,11:20,19:25,1 stop via Mumbai,"₹ 7,512"
19,IndiGo,16/10/2021,Patna,Chennai,11:50,19:35,1 stop via Bengaluru,"₹ 7,512"
20,IndiGo,16/10/2021,Patna,Chennai,14:50,21:10,1 stop via New Delhi,"₹ 7,512"
21,IndiGo,16/10/2021,Patna,Chennai,11:10,21:10,1 stop via New Delhi,"₹ 7,512"
22,IndiGo,16/10/2021,Patna,Chennai,16:30,23:35,1 stop via New Delhi,"₹ 7,512"
23,Spicejet,16/10/2021,Patna,Chennai,15:05,21:25,1 stop via Bengaluru,"₹ 7,722"
24,IndiGo,16/10/2021,Patna,Chennai,16:20,19:00,Non stop,"₹ 7,932"
25,Spicejet,16/10/2021,Patna,Chennai,09:40,19:30,1 stop via New Delhi,"₹ 7,932"
26,IndiGo,16/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 8,804"
27,IndiGo,16/10/2021,Patna,Chennai,17:50,23:55,1 stop via Hyderabad,"₹ 10,032"

Lenght :  28

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
5,IndiGo,15/10/2021,Patna,Chennai,11:50,19:35,1 stop via Bengaluru,"₹ 7,512"
6,IndiGo,15/10/2021,Patna,Chennai,13:20,20:25,1 stop via Kolkata,"₹ 7,512"
7,Spicejet,15/10/2021,Patna,Chennai,15:05,21:25,1 stop via Bengaluru,"₹ 7,512"
8,IndiGo,15/10/2021,Patna,Chennai,13:00,21:50,1 stop via Ranchi,"₹ 7,512"
9,IndiGo,15/10/2021,Patna,Chennai,16:30,23:35,1 stop via New Delhi,"₹ 7,512"
10,IndiGo,15/10/2021,Patna,Chennai,18:20,00:10,1 stop via Kolkata,"₹ 7,512"
11,IndiGo,15/10/2021,Patna,Chennai,16:20,19:00,Non stop,"₹ 7,932"
12,IndiGo,15/10/2021,Patna,Chennai,13:20,18:45,1 stop via Kolkata,"₹ 8,158"
13,Air India,15/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,300"
14,IndiGo,15/10/2021,Patna,Chennai,17:50,23:40,1 stop via Hyderabad,"₹ 9,770"
15,Go First,16/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
16,IndiGo,16/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
17,IndiGo,16/10/2021,Patna,Chennai,11:35,18:50,1 stop via Hyderabad,"₹ 7,512"
18,IndiGo,16/10/2021,Patna,Chennai,11:20,19:25,1 stop via Mumbai,"₹ 7,512"
19,IndiGo,16/10/2021,Patna,Chennai,11:50,19:35,1 stop via Bengaluru,"₹ 7,512"
20,IndiGo,16/10/2021,Patna,Chennai,14:50,21:10,1 stop via New Delhi,"₹ 7,512"
21,IndiGo,16/10/2021,Patna,Chennai,11:10,21:10,1 stop via New Delhi,"₹ 7,512"
22,IndiGo,16/10/2021,Patna,Chennai,16:30,23:35,1 stop via New Delhi,"₹ 7,512"
23,Spicejet,16/10/2021,Patna,Chennai,15:05,21:25,1 stop via Bengaluru,"₹ 7,722"
24,IndiGo,16/10/2021,Patna,Chennai,16:20,19:00,Non stop,"₹ 7,932"
25,Spicejet,16/10/2021,Patna,Chennai,09:40,19:30,1 stop via New Delhi,"₹ 7,932"
26,IndiGo,16/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 8,804"
27,IndiGo,16/10/2021,Patna,Chennai,17:50,23:55,1 stop via Hyderabad,"₹ 10,032"
28,Go First,17/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
29,Spicejet,17/10/2021,Patna,Chennai,08:15,17:30,1 stop via Mumbai,"₹ 7,512"
30,IndiGo,17/10/2021,Patna,Chennai,08:40,19:35,1 stop via Bengaluru,"₹ 7,512"
31,Spicejet,17/10/2021,Patna,Chennai,19:20,07:20,1 stop via Bengaluru,"₹ 7,512"
32,IndiGo,17/10/2021,Patna,Chennai,21:15,08:15,1 stop via Bengaluru,"₹ 7,512"
33,Spicejet,17/10/2021,Patna,Chennai,21:20,09:10,1 stop via New Delhi,"₹ 7,512"
34,Spicejet,17/10/2021,Patna,Chennai,20:10,09:10,1 stop via New Delhi,"₹ 7,512"
35,Spicejet,17/10/2021,Patna,Chennai,15:30,09:05,1 stop via Kolkata,"₹ 9,697"
36,Spicejet,17/10/2021,Patna,Chennai,12:30,09:05,1 stop via Kolkata,"₹ 9,697"
37,IndiGo,17/10/2021,Patna,Chennai,16:20,19:00,Non stop,"₹ 9,822"
38,Vistara,17/10/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,692"
39,IndiGo,17/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 10,820"
40,IndiGo,17/10/2021,Patna,Chennai,11:50,19:35,1 stop via Bengaluru,"₹ 10,925"
41,Spicejet,17/10/2021,Patna,Chennai,15:05,21:25,1 stop via Bengaluru,"₹ 11,608"
42,IndiGo,17/10/2021,Patna,Chennai,13:00,21:50,1 stop via Ranchi,"₹ 11,765"
43,IndiGo,17/10/2021,Patna,Chennai,17:50,23:55,1 stop via Hyderabad,"₹ 12,027"
44,Spicejet,17/10/2021,Patna,Chennai,12:30,18:40,1 stop via Kolkata,"₹ 13,477"
45,IndiGo,17/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 13,655"
46,Air India,17/10/2021,Patna,Chennai,19:10,08:55,1 stop via New Delhi,"₹ 22,212"

Lenght :  47

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-18/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
57,Air India,18/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,300"
58,IndiGo,18/10/2021,Patna,Chennai,13:20,20:20,1 stop via Kolkata,"₹ 9,449"
59,Vistara,18/10/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,692"
60,IndiGo,18/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 10,872"
61,IndiGo,18/10/2021,Patna,Chennai,18:20,00:10,1 stop via Kolkata,"₹ 11,502"

Lenght :  62

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-19/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
74,IndiGo,19/10/2021,Patna,Chennai,13:00,21:50,1 stop via Ranchi,"₹ 8,825"
75,Vistara,19/10/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,692"
76,IndiGo,19/10/2021,Patna,Chennai,13:20,18:20,1 stop via Kolkata,"₹ 10,741"
77,IndiGo,19/10/2021,Patna,Chennai,17:50,23:55,1 stop via Hyderabad,"₹ 11,082"
78,Air India,19/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 11,726"

Lenght :  79

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-20/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
89,IndiGo,20/10/2021,Patna,Chennai,11:20,19:25,1 stop via Mumbai,"₹ 8,158"
90,IndiGo,20/10/2021,Patna,Chennai,11:50,19:35,1 stop via Bengaluru,"₹ 8,158"
91,IndiGo,20/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 8,804"
92,Air India,20/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,300"
93,Vistara,20/10/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,514"

Lenght :  94

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-21/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
106,IndiGo,21/10/2021,Patna,Chennai,18:00,01:10,1 stop via New Delhi,"₹ 7,512"
107,IndiGo,21/10/2021,Patna,Chennai,16:30,01:10,1 stop via New Delhi,"₹ 7,512"
108,IndiGo,21/10/2021,Patna,Chennai,13:20,18:20,1 stop via Kolkata,"₹ 8,158"
109,Air India,21/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,300"
110,Vistara,21/10/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,514"

Lenght :  111

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-22/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
122,IndiGo,22/10/2021,Patna,Chennai,11:10,18:55,1 stop via New Delhi,"₹ 8,804"
123,IndiGo,22/10/2021,Patna,Chennai,16:30,23:35,1 stop via New Delhi,"₹ 8,804"
124,Air India,22/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,878"
125,IndiGo,22/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 10,032"
126,Vistara,22/10/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,514"

Lenght :  127

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-23/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
138,IndiGo,23/10/2021,Patna,Chennai,21:15,08:15,1 stop via Bengaluru,"₹ 7,512"
139,IndiGo,23/10/2021,Patna,Chennai,21:30,09:25,1 stop via New Delhi,"₹ 7,512"
140,IndiGo,23/10/2021,Patna,Chennai,13:20,18:20,1 stop via Kolkata,"₹ 8,158"
141,Air India,23/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,300"
142,Vistara,23/10/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,692"

Lenght :  143

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-24/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
159,IndiGo,24/10/2021,Patna,Chennai,13:20,18:20,1 stop via Kolkata,"₹ 10,741"
160,Air India,24/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 10,802"
161,IndiGo,24/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 10,977"
162,"Vistara, AirAsia",24/10/2021,Patna,Chennai,10:30,17:25,1 stop via Bengaluru,"₹ 11,012"
163,"Vistara, IndiGo",24/10/2021,Patna,Chennai,10:30,16:10,1 stop via Bengaluru,"₹ 11,326"

Lenght :  164

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-25/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
176,Spicejet,25/10/2021,Patna,Chennai,15:05,21:25,1 stop via Bengaluru,"₹ 7,512"
177,IndiGo,25/10/2021,Patna,Chennai,17:40,23:55,1 stop via Hyderabad,"₹ 7,512"
178,IndiGo,25/10/2021,Patna,Chennai,16:30,23:35,1 stop via New Delhi,"₹ 8,804"
179,Air India,25/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,300"
180,Vistara,25/10/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,514"

Lenght :  181

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
195,IndiGo,26/10/2021,Patna,Chennai,17:40,23:55,1 stop via Hyderabad,"₹ 7,512"
196,IndiGo,26/10/2021,Patna,Chennai,18:00,01:10,1 stop via New Delhi,"₹ 7,512"
197,Spicejet,26/10/2021,Patna,Chennai,12:30,21:15,1 stop via Kolkata,"₹ 7,932"
198,Air India,26/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,300"
199,Vistara,26/10/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,514"

Lenght :  200

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
211,Spicejet,27/10/2021,Patna,Chennai,15:05,21:25,1 stop via Bengaluru,"₹ 7,512"
212,IndiGo,27/10/2021,Patna,Chennai,17:40,23:55,1 stop via Hyderabad,"₹ 7,512"
213,IndiGo,27/10/2021,Patna,Chennai,23:45,10:25,1 stop via Bengaluru,"₹ 7,512"
214,Air India,27/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,300"
215,Vistara,27/10/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,514"

Lenght :  216

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
230,IndiGo,28/10/2021,Patna,Chennai,14:50,23:35,1 stop via New Delhi,"₹ 7,512"
231,IndiGo,28/10/2021,Patna,Chennai,17:40,23:55,1 stop via Hyderabad,"₹ 7,512"
232,IndiGo,28/10/2021,Patna,Chennai,23:45,08:15,1 stop via Bengaluru,"₹ 7,512"
233,Air India,28/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,300"
234,Vistara,28/10/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,692"

Lenght :  235

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-29/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
248,Air India,29/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,300"
249,"Vistara, IndiGo",29/10/2021,Patna,Chennai,10:30,16:10,1 stop via Bengaluru,"₹ 9,698"
250,"Go First, Spicejet",29/10/2021,Patna,Chennai,14:40,21:25,1 stop via Bengaluru,"₹ 11,008"
251,"Go First, IndiGo",29/10/2021,Patna,Chennai,14:40,21:05,1 stop via Bengaluru,"₹ 11,114"
252,"Spicejet, IndiGo",29/10/2021,Patna,Chennai,15:05,21:05,1 stop via Bengaluru,"₹ 11,115"

Lenght :  253

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
263,IndiGo,30/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 8,158"
264,Air India,30/10/2021,Patna,Chennai,16:00,23:35,1 stop via New Delhi,"₹ 9,300"
265,Vistara,30/10/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 11,139"
266,IndiGo,30/10/2021,Patna,Chennai,17:40,23:55,1 stop via Hyderabad,"₹ 11,555"
267,IndiGo,30/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 12,395"

Lenght :  268

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
283,Spicejet,31/10/2021,Patna,Chennai,10:30,14:25,1 stop via Hyderabad,"₹ 7,617"
284,Air India,31/10/2021,Patna,Chennai,12:40,23:35,1 stop via New Delhi,"₹ 9,300"
285,IndiGo,31/10/2021,Patna,Chennai,18:20,01:55,1 stop via New Delhi,"₹ 9,449"
286,IndiGo,31/10/2021,Patna,Chennai,10:45,17:40,1 stop via Hyderabad,"₹ 9,927"
287,Vistara,31/10/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,692"

Lenght :  288

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-01/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
304,IndiGo,01/11/2021,Patna,Chennai,16:20,00:05,1 stop via Kolkata,"₹ 7,512"
305,IndiGo,01/11/2021,Patna,Chennai,18:20,01:55,1 stop via New Delhi,"₹ 7,512"
306,IndiGo,01/11/2021,Patna,Chennai,22:30,06:30,1 stop via Mumbai,"₹ 7,512"
307,Air India,01/11/2021,Patna,Chennai,12:40,23:35,1 stop via New Delhi,"₹ 9,300"
308,Vistara,01/11/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,692"

Lenght :  309

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-02/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
323,IndiGo,02/11/2021,Patna,Chennai,16:40,22:05,1 stop via Hyderabad,"₹ 7,512"
324,IndiGo,02/11/2021,Patna,Chennai,18:20,01:55,1 stop via New Delhi,"₹ 7,512"
325,IndiGo,02/11/2021,Patna,Chennai,22:30,06:30,1 stop via Mumbai,"₹ 7,512"
326,Air India,02/11/2021,Patna,Chennai,12:40,23:35,1 stop via New Delhi,"₹ 9,300"
327,Vistara,02/11/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 11,139"

Lenght :  328

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-03/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
345,IndiGo,03/11/2021,Patna,Chennai,22:30,06:30,1 stop via Mumbai,"₹ 7,512"
346,IndiGo,03/11/2021,Patna,Chennai,22:40,08:20,1 stop via Bengaluru,"₹ 7,512"
347,Spicejet,03/11/2021,Patna,Chennai,11:30,21:20,1 stop via Mumbai,"₹ 7,722"
348,Air India,03/11/2021,Patna,Chennai,12:40,23:35,1 stop via New Delhi,"₹ 9,300"
349,Vistara,03/11/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,514"

Lenght :  350

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-04/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
364,IndiGo,04/11/2021,Patna,Chennai,15:30,23:20,1 stop via New Delhi,"₹ 7,512"
365,IndiGo,04/11/2021,Patna,Chennai,18:20,01:55,1 stop via New Delhi,"₹ 7,512"
366,IndiGo,04/11/2021,Patna,Chennai,22:30,06:30,1 stop via Mumbai,"₹ 7,512"
367,Air India,04/11/2021,Patna,Chennai,12:40,23:35,1 stop via New Delhi,"₹ 9,300"
368,Vistara,04/11/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,692"

Lenght :  369

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-05/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
385,IndiGo,05/11/2021,Patna,Chennai,16:20,00:05,1 stop via Kolkata,"₹ 7,512"
386,IndiGo,05/11/2021,Patna,Chennai,18:20,01:55,1 stop via New Delhi,"₹ 7,512"
387,IndiGo,05/11/2021,Patna,Chennai,22:30,06:30,1 stop via Mumbai,"₹ 7,512"
388,Air India,05/11/2021,Patna,Chennai,10:55,17:05,1 stop via Kolkata,"₹ 8,879"
389,Vistara,05/11/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 11,719"

Lenght :  390

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-06/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
404,IndiGo,06/11/2021,Patna,Chennai,22:40,08:20,1 stop via Bengaluru,"₹ 7,512"
405,IndiGo,06/11/2021,Patna,Chennai,11:10,19:10,1 stop via New Delhi,"₹ 8,158"
406,IndiGo,06/11/2021,Patna,Chennai,16:40,22:05,1 stop via Hyderabad,"₹ 9,770"
407,Air India,06/11/2021,Patna,Chennai,12:40,23:35,1 stop via New Delhi,"₹ 10,802"
408,Vistara,06/11/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 11,719"

Lenght :  409

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-07/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
425,IndiGo,07/11/2021,Patna,Chennai,16:40,22:05,1 stop via Hyderabad,"₹ 10,505"
426,IndiGo,07/11/2021,Patna,Chennai,10:45,17:40,1 stop via Hyderabad,"₹ 10,925"
427,IndiGo,07/11/2021,Patna,Chennai,13:10,19:25,1 stop via Pune,"₹ 11,387"
428,Vistara,07/11/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 11,719"
429,Air India,07/11/2021,Patna,Chennai,19:10,08:55,1 stop via New Delhi,"₹ 11,726"

Lenght :  430

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-08/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
447,IndiGo,08/11/2021,Patna,Chennai,22:30,06:30,1 stop via Mumbai,"₹ 7,512"
448,IndiGo,08/11/2021,Patna,Chennai,23:55,10:15,1 stop via New Delhi,"₹ 7,512"
449,IndiGo,08/11/2021,Patna,Chennai,08:55,17:20,1 stop via Kolkata,"₹ 8,804"
450,Air India,08/11/2021,Patna,Chennai,12:40,23:35,1 stop via New Delhi,"₹ 9,878"
451,Vistara,08/11/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 13,326"

Lenght :  452

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-09/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
468,Spicejet,09/11/2021,Patna,Chennai,11:30,21:20,1 stop via Mumbai,"₹ 7,722"
469,Spicejet,09/11/2021,Patna,Chennai,22:10,08:00,1 stop via Mumbai,"₹ 7,932"
470,IndiGo,09/11/2021,Patna,Chennai,11:10,19:10,1 stop via New Delhi,"₹ 8,158"
471,Air India,09/11/2021,Patna,Chennai,12:40,23:35,1 stop via New Delhi,"₹ 9,300"
472,Vistara,09/11/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,692"

Lenght :  473

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-10/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
489,IndiGo,10/11/2021,Patna,Chennai,02:05,08:20,1 stop via Bengaluru,"₹ 8,804"
490,IndiGo,10/11/2021,Patna,Chennai,09:15,15:55,1 stop via Bengaluru,"₹ 8,804"
491,Air India,10/11/2021,Patna,Chennai,12:40,23:35,1 stop via New Delhi,"₹ 9,300"
492,IndiGo,10/11/2021,Patna,Chennai,16:40,22:05,1 stop via Hyderabad,"₹ 9,927"
493,Vistara,10/11/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 10,692"

Lenght :  494

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-11/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
513,IndiGo,11/11/2021,Patna,Chennai,12:35,18:15,1 stop via Mumbai,"₹ 8,158"
514,IndiGo,11/11/2021,Patna,Chennai,22:20,10:15,1 stop via New Delhi,"₹ 8,158"
515,IndiGo,11/11/2021,Patna,Chennai,22:40,08:20,1 stop via Bengaluru,"₹ 8,804"
516,IndiGo,11/11/2021,Patna,Chennai,16:20,21:20,1 stop via Kolkata,"₹ 9,449"
517,IndiGo,11/11/2021,Patna,Chennai,18:20,01:55,1 stop via New Delhi,"₹ 10,741"

Lenght :  518

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-12/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
535,Air India,12/11/2021,Patna,Chennai,10:55,17:05,1 stop via Kolkata,"₹ 6,404"
536,IndiGo,12/11/2021,Patna,Chennai,15:30,23:20,1 stop via New Delhi,"₹ 6,781"
537,IndiGo,12/11/2021,Patna,Chennai,08:25,15:40,1 stop via New Delhi,"₹ 7,365"
538,Spicejet,12/11/2021,Patna,Chennai,22:10,08:00,1 stop via Mumbai,"₹ 7,702"
539,Vistara,12/11/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 11,719"

Lenght :  540

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-13/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
554,IndiGo,13/11/2021,Patna,Chennai,08:25,15:40,1 stop via New Delhi,"₹ 8,527"
555,Vistara,13/11/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 8,541"
556,IndiGo,13/11/2021,Patna,Chennai,14:55,17:25,Non stop,"₹ 10,452"
557,Go First,13/11/2021,Patna,Chennai,14:15,20:10,1 stop via Mumbai,"₹ 11,325"
558,Air India,13/11/2021,Patna,Chennai,12:40,23:35,1 stop via New Delhi,"₹ 17,550"

Lenght :  559

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-14/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
577,Air India,14/11/2021,Patna,Chennai,10:55,08:55,"2 stop via Kolkata,New Delhi","₹ 9,759"
578,IndiGo,14/11/2021,Patna,Chennai,10:45,17:40,1 stop via Hyderabad,"₹ 9,820"
579,IndiGo,14/11/2021,Patna,Chennai,16:40,22:05,1 stop via Hyderabad,"₹ 9,820"
580,"Go First, IndiGo",14/11/2021,Patna,Chennai,12:25,19:15,1 stop via Bengaluru,"₹ 10,508"
581,"Vistara, AirAsia",14/11/2021,Patna,Chennai,10:30,16:30,1 stop via Bengaluru,"₹ 12,688"

Lenght :  582

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-MAA-15/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
599,IndiGo,15/11/2021,Patna,Chennai,15:30,23:20,1 stop via New Delhi,"₹ 7,314"
600,IndiGo,15/11/2021,Patna,Chennai,14:55,17:25,Non stop,"₹ 7,670"
601,Vistara,15/11/2021,Patna,Chennai,20:30,10:10,1 stop via New Delhi,"₹ 7,789"
602,IndiGo,15/11/2021,Patna,Chennai,13:10,19:25,1 stop via Pune,"₹ 8,396"
603,"IndiGo, AirAsia",15/11/2021,Patna,Chennai,08:55,16:05,1 stop via Kolkata,"₹ 8,437"

Lenght :  604

origin = PAT
destin = LKU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-LKU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-e63b93705f05>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

15/10/2021  scraping complete

origin = PAT
destin = VNS

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
611,IndiGo,15/10/2021,Patna,Varanasi,11:50,19:20,1 stop via Bengaluru,"₹ 16,070"
612,IndiGo,15/10/2021,Patna,Varanasi,08:40,19:20,1 stop via Bengaluru,"₹ 16,070"
613,Air India,15/10/2021,Patna,Varanasi,20:55,11:35,"2 stop via Bengaluru,New Delhi","₹ 16,335"
614,Air India,15/10/2021,Patna,Varanasi,20:55,12:40,"2 stop via Bengaluru,Mumbai","₹ 16,335"
615,Air India,15/10/2021,Patna,Varanasi,20:55,14:50,"3 stop via Bengaluru,New Delhi,Gaya","₹ 16,335"

Lenght :  616

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
626,Vistara,16/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 15,008"
627,Vistara,16/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 15,008"
628,IndiGo,16/10/2021,Patna,Varanasi,11:50,19:20,1 stop via Bengaluru,"₹ 16,070"
629,IndiGo,16/10/2021,Patna,Varanasi,08:40,19:20,1 stop via Bengaluru,"₹ 16,070"
630,Vistara,16/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 16,481"

Lenght :  631

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
636,IndiGo,17/10/2021,Patna,Varanasi,11:20,19:00,1 stop via Mumbai,"₹ 12,446"
637,IndiGo,17/10/2021,Patna,Varanasi,08:40,19:20,1 stop via Bengaluru,"₹ 16,070"
638,IndiGo,17/10/2021,Patna,Varanasi,11:50,19:20,1 stop via Bengaluru,"₹ 16,332"
639,IndiGo,17/10/2021,Patna,Varanasi,11:35,18:40,1 stop via Hyderabad,"₹ 16,595"
640,Air India,17/10/2021,Patna,Varanasi,10:55,11:35,"2 stop via Kolkata,New Delhi","₹ 22,107"

Lenght :  641

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-18/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
649,IndiGo,18/10/2021,Patna,Varanasi,11:50,19:20,1 stop via Bengaluru,"₹ 16,070"
650,IndiGo,18/10/2021,Patna,Varanasi,08:40,19:20,1 stop via Bengaluru,"₹ 16,070"
651,Air India,18/10/2021,Patna,Varanasi,20:55,11:35,"2 stop via Bengaluru,New Delhi","₹ 16,335"
652,Air India,18/10/2021,Patna,Varanasi,20:55,12:40,"2 stop via Bengaluru,Mumbai","₹ 16,335"
653,Air India,18/10/2021,Patna,Varanasi,20:55,14:50,"3 stop via Bengaluru,New Delhi,Gaya","₹ 16,335"

Lenght :  654

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-19/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
659,IndiGo,19/10/2021,Patna,Varanasi,08:45,14:25,1 stop via New Delhi,"₹ 10,841"
660,IndiGo,19/10/2021,Patna,Varanasi,11:35,18:40,1 stop via Hyderabad,"₹ 14,862"
661,IndiGo,19/10/2021,Patna,Varanasi,11:50,19:20,1 stop via Bengaluru,"₹ 16,070"
662,IndiGo,19/10/2021,Patna,Varanasi,08:40,19:20,1 stop via Bengaluru,"₹ 16,070"
663,Air India,19/10/2021,Patna,Varanasi,10:55,11:35,"2 stop via Kolkata,New Delhi","₹ 16,220"

Lenght :  664

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-20/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
674,Vistara,20/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 14,829"
675,Vistara,20/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 14,829"
676,Vistara,20/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 14,829"
677,IndiGo,20/10/2021,Patna,Varanasi,11:50,19:20,1 stop via Bengaluru,"₹ 16,070"
678,IndiGo,20/10/2021,Patna,Varanasi,08:40,19:20,1 stop via Bengaluru,"₹ 16,070"

Lenght :  679

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-21/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
692,IndiGo,21/10/2021,Patna,Varanasi,11:50,19:20,1 stop via Bengaluru,"₹ 16,070"
693,IndiGo,21/10/2021,Patna,Varanasi,08:40,19:20,1 stop via Bengaluru,"₹ 16,070"
694,Go First,21/10/2021,Patna,Varanasi,08:05,14:00,1 stop via Bengaluru,"₹ 16,122"
695,Air India,21/10/2021,Patna,Varanasi,20:55,11:35,"2 stop via Bengaluru,New Delhi","₹ 16,335"
696,Air India,21/10/2021,Patna,Varanasi,20:55,12:40,"2 stop via Bengaluru,Mumbai","₹ 16,335"

Lenght :  697

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-22/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
710,IndiGo,22/10/2021,Patna,Varanasi,08:40,19:20,1 stop via Bengaluru,"₹ 16,070"
711,Go First,22/10/2021,Patna,Varanasi,08:05,14:00,1 stop via Bengaluru,"₹ 16,122"
712,Air India,22/10/2021,Patna,Varanasi,20:55,11:35,"2 stop via Bengaluru,New Delhi","₹ 16,335"
713,Air India,22/10/2021,Patna,Varanasi,20:55,12:40,"2 stop via Bengaluru,Mumbai","₹ 16,335"
714,Air India,22/10/2021,Patna,Varanasi,20:55,14:50,"3 stop via Bengaluru,New Delhi,Gaya","₹ 16,335"

Lenght :  715

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-23/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
729,Vistara,23/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 14,829"
730,IndiGo,23/10/2021,Patna,Varanasi,11:50,19:20,1 stop via Bengaluru,"₹ 16,070"
731,IndiGo,23/10/2021,Patna,Varanasi,08:40,19:20,1 stop via Bengaluru,"₹ 16,070"
732,IndiGo,23/10/2021,Patna,Varanasi,23:45,12:35,1 stop via Bengaluru,"₹ 16,070"
733,Go First,23/10/2021,Patna,Varanasi,08:05,14:00,1 stop via Bengaluru,"₹ 16,122"

Lenght :  734

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-24/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
744,IndiGo,24/10/2021,Patna,Varanasi,23:55,10:50,1 stop via Hyderabad,"₹ 13,812"
745,IndiGo,24/10/2021,Patna,Varanasi,11:50,19:20,1 stop via Bengaluru,"₹ 16,070"
746,IndiGo,24/10/2021,Patna,Varanasi,08:40,19:20,1 stop via Bengaluru,"₹ 16,070"
747,IndiGo,24/10/2021,Patna,Varanasi,23:45,12:35,1 stop via Bengaluru,"₹ 16,070"
748,Go First,24/10/2021,Patna,Varanasi,08:05,14:00,1 stop via Bengaluru,"₹ 16,122"

Lenght :  749

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-25/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
764,IndiGo,25/10/2021,Patna,Varanasi,11:50,19:20,1 stop via Bengaluru,"₹ 16,070"
765,IndiGo,25/10/2021,Patna,Varanasi,08:40,19:20,1 stop via Bengaluru,"₹ 16,070"
766,IndiGo,25/10/2021,Patna,Varanasi,23:45,12:35,1 stop via Bengaluru,"₹ 16,070"
767,Go First,25/10/2021,Patna,Varanasi,08:05,14:00,1 stop via Bengaluru,"₹ 16,122"
768,Air India,25/10/2021,Patna,Varanasi,20:55,11:35,"2 stop via Bengaluru,New Delhi","₹ 16,335"

Lenght :  769

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
779,IndiGo,26/10/2021,Patna,Varanasi,23:45,12:35,1 stop via Bengaluru,"₹ 9,875"
780,IndiGo,26/10/2021,Patna,Varanasi,00:35,13:00,1 stop via Mumbai,"₹ 9,980"
781,IndiGo,26/10/2021,Patna,Varanasi,23:55,10:50,1 stop via Hyderabad,"₹ 10,137"
782,Air India,26/10/2021,Patna,Varanasi,10:55,11:35,"2 stop via Kolkata,New Delhi","₹ 12,408"
783,Go First,26/10/2021,Patna,Varanasi,08:05,14:00,1 stop via Bengaluru,"₹ 16,122"

Lenght :  784

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
799,Vistara,27/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 16,504"
800,Vistara,27/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 16,504"
801,Vistara,27/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 16,504"
802,Vistara,27/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 16,504"
803,Vistara,27/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 16,504"

Lenght :  804

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
810,IndiGo,28/10/2021,Patna,Varanasi,11:50,19:20,1 stop via Bengaluru,"₹ 9,875"
811,IndiGo,28/10/2021,Patna,Varanasi,08:40,19:20,1 stop via Bengaluru,"₹ 9,875"
812,IndiGo,28/10/2021,Patna,Varanasi,11:35,18:40,1 stop via Hyderabad,"₹ 9,980"
813,Air India,28/10/2021,Patna,Varanasi,10:55,11:35,"2 stop via Kolkata,New Delhi","₹ 11,544"
814,Vistara,28/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 16,189"

Lenght :  815

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-29/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
830,Vistara,29/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 18,289"
831,Vistara,29/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 18,289"
832,Vistara,29/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 18,289"
833,Air India,29/10/2021,Patna,Varanasi,20:55,12:40,"2 stop via Bengaluru,Mumbai","₹ 25,004"
834,Air India,29/10/2021,Patna,Varanasi,20:55,11:35,"2 stop via Bengaluru,New Delhi","₹ 33,404"

Lenght :  835

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
845,IndiGo,30/10/2021,Patna,Varanasi,08:45,14:25,1 stop via New Delhi,"₹ 15,917"
846,Go First,30/10/2021,Patna,Varanasi,08:05,14:00,1 stop via Bengaluru,"₹ 16,858"
847,Vistara,30/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 17,554"
848,Vistara,30/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 17,554"
849,Vistara,30/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 17,554"

Lenght :  850

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
866,IndiGo,31/10/2021,Patna,Varanasi,11:10,19:20,1 stop via New Delhi,"₹ 10,820"
867,Air India,31/10/2021,Patna,Varanasi,10:55,11:35,"2 stop via Kolkata,New Delhi","₹ 12,006"
868,IndiGo,31/10/2021,Patna,Varanasi,11:45,19:55,1 stop via Bengaluru,"₹ 12,183"
869,IndiGo,31/10/2021,Patna,Varanasi,09:15,19:55,1 stop via Bengaluru,"₹ 12,183"
870,Vistara,31/10/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 16,504"

Lenght :  871

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-01/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
878,IndiGo,01/11/2021,Patna,Varanasi,15:30,21:35,1 stop via New Delhi,"₹ 9,822"
879,IndiGo,01/11/2021,Patna,Varanasi,14:35,21:35,1 stop via New Delhi,"₹ 9,822"
880,IndiGo,01/11/2021,Patna,Varanasi,11:10,16:50,1 stop via New Delhi,"₹ 9,980"
881,Air India,01/11/2021,Patna,Varanasi,22:10,11:35,"2 stop via Bengaluru,New Delhi","₹ 15,610"
882,Vistara,01/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 16,504"

Lenght :  883

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-02/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
901,IndiGo,02/11/2021,Patna,Varanasi,11:10,19:20,1 stop via New Delhi,"₹ 10,452"
902,IndiGo,02/11/2021,Patna,Varanasi,12:35,20:15,1 stop via Mumbai,"₹ 11,174"
903,Air India,02/11/2021,Patna,Varanasi,10:55,11:35,"2 stop via Kolkata,New Delhi","₹ 12,006"
904,IndiGo,02/11/2021,Patna,Varanasi,01:30,11:55,1 stop via New Delhi,"₹ 12,657"
905,Vistara,02/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 17,029"

Lenght :  906

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-03/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
923,IndiGo,03/11/2021,Patna,Varanasi,08:25,19:20,1 stop via New Delhi,"₹ 10,557"
924,IndiGo,03/11/2021,Patna,Varanasi,11:10,19:20,1 stop via New Delhi,"₹ 10,610"
925,IndiGo,03/11/2021,Patna,Varanasi,01:30,11:55,1 stop via New Delhi,"₹ 13,812"
926,Vistara,03/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 16,504"
927,IndiGo,03/11/2021,Patna,Varanasi,12:35,20:15,1 stop via Mumbai,"₹ 16,647"

Lenght :  928

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-04/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
946,IndiGo,04/11/2021,Patna,Varanasi,09:15,19:55,1 stop via Bengaluru,"₹ 9,980"
947,IndiGo,04/11/2021,Patna,Varanasi,12:35,20:15,1 stop via Mumbai,"₹ 10,137"
948,IndiGo,04/11/2021,Patna,Varanasi,01:30,11:55,1 stop via New Delhi,"₹ 14,547"
949,Air India,04/11/2021,Patna,Varanasi,22:10,11:35,"2 stop via Bengaluru,New Delhi","₹ 15,610"
950,Vistara,04/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 17,029"

Lenght :  951

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-05/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
958,IndiGo,05/11/2021,Patna,Varanasi,10:45,18:00,1 stop via Hyderabad,"₹ 9,875"
959,IndiGo,05/11/2021,Patna,Varanasi,15:30,21:35,1 stop via New Delhi,"₹ 9,980"
960,IndiGo,05/11/2021,Patna,Varanasi,11:10,16:50,1 stop via New Delhi,"₹ 10,137"
961,Air India,05/11/2021,Patna,Varanasi,22:10,11:35,"2 stop via Bengaluru,New Delhi","₹ 16,534"
962,Vistara,05/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 17,029"

Lenght :  963

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-06/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
977,IndiGo,06/11/2021,Patna,Varanasi,08:25,16:50,1 stop via New Delhi,"₹ 10,452"
978,IndiGo,06/11/2021,Patna,Varanasi,01:40,11:10,1 stop via Hyderabad,"₹ 10,610"
979,IndiGo,06/11/2021,Patna,Varanasi,12:35,20:15,1 stop via Mumbai,"₹ 10,610"
980,IndiGo,06/11/2021,Patna,Varanasi,01:30,11:55,1 stop via New Delhi,"₹ 11,502"
981,Vistara,06/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 17,029"

Lenght :  982

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-07/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
987,Go First,07/11/2021,Patna,Varanasi,15:20,19:20,1 stop via Kolkata,"₹ 9,822"
988,IndiGo,07/11/2021,Patna,Varanasi,15:30,21:35,1 stop via New Delhi,"₹ 10,820"
989,IndiGo,07/11/2021,Patna,Varanasi,11:10,16:50,1 stop via New Delhi,"₹ 11,639"
990,Air India,07/11/2021,Patna,Varanasi,10:55,11:35,"2 stop via Kolkata,New Delhi","₹ 12,930"
991,Vistara,07/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 16,504"

Lenght :  992

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-08/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
998,IndiGo,08/11/2021,Patna,Varanasi,10:45,18:00,1 stop via Hyderabad,"₹ 9,875"
999,IndiGo,08/11/2021,Patna,Varanasi,15:30,21:35,1 stop via New Delhi,"₹ 9,980"
1000,IndiGo,08/11/2021,Patna,Varanasi,11:10,16:50,1 stop via New Delhi,"₹ 10,295"
1001,Air India,08/11/2021,Patna,Varanasi,22:10,11:35,"2 stop via Bengaluru,New Delhi","₹ 15,650"
1002,Vistara,08/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 16,189"

Lenght :  1003

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-09/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1010,IndiGo,09/11/2021,Patna,Varanasi,15:30,21:35,1 stop via New Delhi,"₹ 9,822"
1011,IndiGo,09/11/2021,Patna,Varanasi,14:35,21:35,1 stop via New Delhi,"₹ 9,822"
1012,IndiGo,09/11/2021,Patna,Varanasi,11:10,16:50,1 stop via New Delhi,"₹ 10,137"
1013,Air India,09/11/2021,Patna,Varanasi,10:55,11:35,"2 stop via Kolkata,New Delhi","₹ 12,006"
1014,Vistara,09/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 16,504"

Lenght :  1015

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-10/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1032,IndiGo,10/11/2021,Patna,Varanasi,11:10,19:20,1 stop via New Delhi,"₹ 10,137"
1033,IndiGo,10/11/2021,Patna,Varanasi,15:30,21:35,1 stop via New Delhi,"₹ 10,137"
1034,IndiGo,10/11/2021,Patna,Varanasi,11:10,21:35,1 stop via New Delhi,"₹ 10,137"
1035,IndiGo,10/11/2021,Patna,Varanasi,01:30,11:55,1 stop via New Delhi,"₹ 11,187"
1036,Vistara,10/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 14,453"

Lenght :  1037

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-11/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1043,IndiGo,11/11/2021,Patna,Varanasi,10:45,18:00,1 stop via Hyderabad,"₹ 5,992"
1044,IndiGo,11/11/2021,Patna,Varanasi,15:30,21:35,1 stop via New Delhi,"₹ 6,498"
1045,IndiGo,11/11/2021,Patna,Varanasi,11:10,16:50,1 stop via New Delhi,"₹ 6,864"
1046,Air India,11/11/2021,Patna,Varanasi,22:10,11:35,"2 stop via Bengaluru,New Delhi","₹ 12,557"
1047,Vistara,11/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 15,030"

Lenght :  1048

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-12/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1066,IndiGo,12/11/2021,Patna,Varanasi,08:25,16:50,1 stop via New Delhi,"₹ 7,868"
1067,IndiGo,12/11/2021,Patna,Varanasi,01:30,11:55,1 stop via New Delhi,"₹ 9,287"
1068,IndiGo,12/11/2021,Patna,Varanasi,14:35,21:35,1 stop via New Delhi,"₹ 9,602"
1069,Air India,12/11/2021,Patna,Varanasi,22:10,11:35,"2 stop via Bengaluru,New Delhi","₹ 13,817"
1070,Vistara,12/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 15,030"

Lenght :  1071

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-13/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1088,IndiGo,13/11/2021,Patna,Varanasi,01:30,11:55,1 stop via New Delhi,"₹ 10,508"
1089,IndiGo,13/11/2021,Patna,Varanasi,14:35,21:35,1 stop via New Delhi,"₹ 11,177"
1090,IndiGo,13/11/2021,Patna,Varanasi,12:35,20:15,1 stop via Mumbai,"₹ 11,849"
1091,Vistara,13/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 15,555"
1092,IndiGo,13/11/2021,Patna,Varanasi,11:45,19:55,1 stop via Bengaluru,"₹ 20,795"

Lenght :  1093

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-14/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1111,Air India,14/11/2021,Patna,Varanasi,10:55,11:35,"2 stop via Kolkata,New Delhi","₹ 9,717"
1112,IndiGo,14/11/2021,Patna,Varanasi,10:45,18:00,1 stop via Hyderabad,"₹ 10,022"
1113,Vistara,14/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 13,362"
1114,IndiGo,14/11/2021,Patna,Varanasi,12:35,20:15,1 stop via Mumbai,"₹ 13,827"
1115,IndiGo,14/11/2021,Patna,Varanasi,14:35,21:35,1 stop via New Delhi,"₹ 14,222"

Lenght :  1116

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-VNS-15/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1122,IndiGo,15/11/2021,Patna,Varanasi,08:55,13:10,1 stop via Kolkata,"₹ 5,897"
1123,IndiGo,15/11/2021,Patna,Varanasi,15:30,21:35,1 stop via New Delhi,"₹ 6,498"
1124,Go First,15/11/2021,Patna,Varanasi,13:40,20:10,1 stop via New Delhi,"₹ 6,787"
1125,Air India,15/11/2021,Patna,Varanasi,22:10,11:35,"2 stop via Bengaluru,New Delhi","₹ 11,927"
1126,Vistara,15/11/2021,Patna,Varanasi,20:30,15:35,"2 stop via New Delhi,Mumbai","₹ 12,837"

Lenght :  1127

origin = PAT
destin = DED

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1135,IndiGo,15/10/2021,Patna,Dehradun,11:10,15:20,1 stop via New Delhi,"₹ 14,741"
1136,"Go First, IndiGo",15/10/2021,Patna,Dehradun,07:45,13:20,1 stop via New Delhi,"₹ 14,779"
1137,"Spicejet, IndiGo",15/10/2021,Patna,Dehradun,09:40,15:20,1 stop via New Delhi,"₹ 14,779"
1138,Air India,15/10/2021,Patna,Dehradun,12:40,19:05,1 stop via New Delhi,"₹ 15,545"
1139,Air India,15/10/2021,Patna,Dehradun,20:55,19:05,"2 stop via Bengaluru,New Delhi","₹ 21,320"

Lenght :  1140

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1149,"Go First, IndiGo",16/10/2021,Patna,Dehradun,07:45,13:20,1 stop via New Delhi,"₹ 14,779"
1150,"Go First, Spicejet",16/10/2021,Patna,Dehradun,14:40,19:20,1 stop via New Delhi,"₹ 14,831"
1151,"Spicejet, IndiGo",16/10/2021,Patna,Dehradun,09:40,15:20,1 stop via New Delhi,"₹ 14,885"
1152,IndiGo,16/10/2021,Patna,Dehradun,11:10,15:20,1 stop via New Delhi,"₹ 15,198"
1153,IndiGo,16/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 31,452"

Lenght :  1154

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1163,Air India,17/10/2021,Patna,Dehradun,12:40,19:05,1 stop via New Delhi,"₹ 15,965"
1164,"Spicejet, IndiGo",17/10/2021,Patna,Dehradun,09:40,15:20,1 stop via New Delhi,"₹ 16,145"
1165,IndiGo,17/10/2021,Patna,Dehradun,08:45,13:20,1 stop via New Delhi,"₹ 16,277"
1166,IndiGo,17/10/2021,Patna,Dehradun,11:10,15:20,1 stop via New Delhi,"₹ 16,752"
1167,IndiGo,17/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 22,370"

Lenght :  1168

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-18/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1181,IndiGo,18/10/2021,Patna,Dehradun,08:45,13:20,1 stop via New Delhi,"₹ 16,491"
1182,Air India,18/10/2021,Patna,Dehradun,20:55,19:05,"2 stop via Bengaluru,New Delhi","₹ 17,960"
1183,Air India,18/10/2021,Patna,Dehradun,20:55,19:05,"2 stop via Bengaluru,New Delhi","₹ 17,960"
1184,IndiGo,18/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 18,537"
1185,Air India,18/10/2021,Patna,Dehradun,20:55,13:45,"2 stop via Bengaluru,New Delhi","₹ 18,800"

Lenght :  1186

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-19/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1195,"Spicejet, IndiGo",19/10/2021,Patna,Dehradun,09:40,15:20,1 stop via New Delhi,"₹ 9,739"
1196,"IndiGo, Spicejet",19/10/2021,Patna,Dehradun,08:45,19:20,1 stop via New Delhi,"₹ 10,416"
1197,"Go First, IndiGo",19/10/2021,Patna,Dehradun,07:45,13:20,1 stop via New Delhi,"₹ 14,831"
1198,IndiGo,19/10/2021,Patna,Dehradun,08:45,13:20,1 stop via New Delhi,"₹ 15,707"
1199,IndiGo,19/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 19,062"

Lenght :  1200

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-20/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1209,"Spicejet, IndiGo",20/10/2021,Patna,Dehradun,09:40,15:20,1 stop via New Delhi,"₹ 9,739"
1210,"IndiGo, Spicejet",20/10/2021,Patna,Dehradun,08:45,19:20,1 stop via New Delhi,"₹ 9,791"
1211,"Go First, IndiGo",20/10/2021,Patna,Dehradun,07:45,13:20,1 stop via New Delhi,"₹ 14,831"
1212,IndiGo,20/10/2021,Patna,Dehradun,08:45,13:20,1 stop via New Delhi,"₹ 15,251"
1213,IndiGo,20/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 17,487"

Lenght :  1214

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-21/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1226,IndiGo,21/10/2021,Patna,Dehradun,08:45,13:20,1 stop via New Delhi,"₹ 15,251"
1227,IndiGo,21/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 17,487"
1228,Air India,21/10/2021,Patna,Dehradun,20:55,19:05,"2 stop via Bengaluru,New Delhi","₹ 18,380"
1229,Air India,21/10/2021,Patna,Dehradun,20:55,19:05,"2 stop via Bengaluru,New Delhi","₹ 18,380"
1230,Air India,21/10/2021,Patna,Dehradun,20:55,13:45,"2 stop via Bengaluru,New Delhi","₹ 19,850"

Lenght :  1231

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-22/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1243,"Go First, IndiGo",22/10/2021,Patna,Dehradun,07:45,13:20,1 stop via New Delhi,"₹ 13,939"
1244,IndiGo,22/10/2021,Patna,Dehradun,08:45,13:20,1 stop via New Delhi,"₹ 14,867"
1245,IndiGo,22/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 18,012"
1246,Air India,22/10/2021,Patna,Dehradun,20:55,19:05,"2 stop via Bengaluru,New Delhi","₹ 18,800"
1247,Air India,22/10/2021,Patna,Dehradun,20:55,13:45,"2 stop via Bengaluru,New Delhi","₹ 22,370"

Lenght :  1248

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-23/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1258,"IndiGo, Spicejet",23/10/2021,Patna,Dehradun,08:45,19:20,1 stop via New Delhi,"₹ 10,421"
1259,"Spicejet, IndiGo",23/10/2021,Patna,Dehradun,09:40,15:20,1 stop via New Delhi,"₹ 10,631"
1260,"Go First, IndiGo",23/10/2021,Patna,Dehradun,07:45,13:20,1 stop via New Delhi,"₹ 11,681"
1261,IndiGo,23/10/2021,Patna,Dehradun,08:45,13:20,1 stop via New Delhi,"₹ 13,098"
1262,IndiGo,23/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 24,522"

Lenght :  1263

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-24/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1274,"Spicejet, IndiGo",24/10/2021,Patna,Dehradun,09:40,15:20,1 stop via New Delhi,"₹ 12,101"
1275,Air India,24/10/2021,Patna,Dehradun,12:40,19:05,1 stop via New Delhi,"₹ 13,025"
1276,IndiGo,24/10/2021,Patna,Dehradun,08:45,13:20,1 stop via New Delhi,"₹ 14,337"
1277,IndiGo,24/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 17,277"
1278,IndiGo,24/10/2021,Patna,Dehradun,00:35,09:55,1 stop via Mumbai,"₹ 17,298"

Lenght :  1279

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-25/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1291,"Go First, IndiGo",25/10/2021,Patna,Dehradun,07:45,13:20,1 stop via New Delhi,"₹ 12,101"
1292,IndiGo,25/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 17,067"
1293,Air India,25/10/2021,Patna,Dehradun,20:55,19:05,"2 stop via Bengaluru,New Delhi","₹ 17,960"
1294,Air India,25/10/2021,Patna,Dehradun,20:55,19:05,"2 stop via Bengaluru,New Delhi","₹ 17,960"
1295,Air India,25/10/2021,Patna,Dehradun,20:55,13:45,"2 stop via Bengaluru,New Delhi","₹ 18,800"

Lenght :  1296

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1303,"Go First, Spicejet",26/10/2021,Patna,Dehradun,14:40,19:20,1 stop via New Delhi,"₹ 8,635"
1304,"Go First, Spicejet",26/10/2021,Patna,Dehradun,07:45,19:20,1 stop via New Delhi,"₹ 8,635"
1305,"Spicejet, IndiGo",26/10/2021,Patna,Dehradun,09:40,15:20,1 stop via New Delhi,"₹ 8,741"
1306,"Go First, IndiGo",26/10/2021,Patna,Dehradun,07:45,13:20,1 stop via New Delhi,"₹ 9,949"
1307,IndiGo,26/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 16,857"

Lenght :  1308

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1315,"IndiGo, Spicejet",27/10/2021,Patna,Dehradun,11:10,19:20,1 stop via New Delhi,"₹ 8,636"
1316,IndiGo,27/10/2021,Patna,Dehradun,11:10,15:20,1 stop via New Delhi,"₹ 9,245"
1317,"Spicejet, IndiGo",27/10/2021,Patna,Dehradun,09:40,15:20,1 stop via New Delhi,"₹ 9,739"
1318,"IndiGo, Spicejet",27/10/2021,Patna,Dehradun,08:45,19:20,1 stop via New Delhi,"₹ 9,791"
1319,"Go First, IndiGo",27/10/2021,Patna,Dehradun,07:45,13:20,1 stop via New Delhi,"₹ 9,949"

Lenght :  1320

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1332,IndiGo,28/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 18,537"
1333,IndiGo,28/10/2021,Patna,Dehradun,00:35,09:55,1 stop via Mumbai,"₹ 19,398"
1334,Air India,28/10/2021,Patna,Dehradun,20:55,19:05,"2 stop via Bengaluru,New Delhi","₹ 24,111"
1335,Air India,28/10/2021,Patna,Dehradun,20:55,19:05,"2 stop via Bengaluru,New Delhi","₹ 24,111"
1336,Air India,28/10/2021,Patna,Dehradun,20:55,13:45,"2 stop via Bengaluru,New Delhi","₹ 24,951"

Lenght :  1337

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-29/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1348,"Go First, IndiGo",29/10/2021,Patna,Dehradun,07:45,13:20,1 stop via New Delhi,"₹ 12,101"
1349,IndiGo,29/10/2021,Patna,Dehradun,08:45,13:20,1 stop via New Delhi,"₹ 13,030"
1350,IndiGo,29/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 24,522"
1351,Air India,29/10/2021,Patna,Dehradun,20:55,19:05,"2 stop via Bengaluru,New Delhi","₹ 24,531"
1352,Air India,29/10/2021,Patna,Dehradun,20:55,13:45,"2 stop via Bengaluru,New Delhi","₹ 31,986"

Lenght :  1353

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1368,"Spicejet, IndiGo",30/10/2021,Patna,Dehradun,09:40,15:20,1 stop via New Delhi,"₹ 10,631"
1369,"Go First, IndiGo",30/10/2021,Patna,Dehradun,07:45,13:20,1 stop via New Delhi,"₹ 10,946"
1370,IndiGo,30/10/2021,Patna,Dehradun,08:45,15:20,1 stop via New Delhi,"₹ 11,507"
1371,IndiGo,30/10/2021,Patna,Dehradun,00:35,09:55,1 stop via Mumbai,"₹ 18,296"
1372,IndiGo,30/10/2021,Patna,Dehradun,08:40,15:50,1 stop via Bengaluru,"₹ 31,452"

Lenght :  1373

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1396,"IndiGo, Air India",31/10/2021,Patna,Dehradun,08:25,13:45,1 stop via New Delhi,"₹ 11,420"
1397,IndiGo,31/10/2021,Patna,Dehradun,08:25,15:25,1 stop via New Delhi,"₹ 11,660"
1398,"Spicejet, IndiGo",31/10/2021,Patna,Dehradun,09:30,15:25,1 stop via New Delhi,"₹ 12,101"
1399,Air India,31/10/2021,Patna,Dehradun,10:55,07:25,"2 stop via Kolkata,New Delhi","₹ 13,197"
1400,Air India,31/10/2021,Patna,Dehradun,15:00,07:25,"2 stop via Mumbai,New Delhi","₹ 15,860"

Lenght :  1401

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-01/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1417,"Go First, Air India",01/11/2021,Patna,Dehradun,13:40,19:15,1 stop via New Delhi,"₹ 9,844"
1418,Spicejet,01/11/2021,Patna,Dehradun,09:30,19:00,1 stop via New Delhi,"₹ 10,763"
1419,Spicejet,01/11/2021,Patna,Dehradun,20:45,19:00,1 stop via New Delhi,"₹ 12,129"
1420,Spicejet,01/11/2021,Patna,Dehradun,17:35,19:00,1 stop via New Delhi,"₹ 12,129"
1421,IndiGo,01/11/2021,Patna,Dehradun,02:05,15:40,1 stop via Bengaluru,"₹ 23,472"

Lenght :  1422

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-02/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1439,Spicejet,02/11/2021,Patna,Dehradun,20:45,16:00,1 stop via New Delhi,"₹ 11,474"
1440,Spicejet,02/11/2021,Patna,Dehradun,17:35,16:00,1 stop via New Delhi,"₹ 11,474"
1441,IndiGo,02/11/2021,Patna,Dehradun,08:25,15:25,1 stop via New Delhi,"₹ 12,641"
1442,Spicejet,02/11/2021,Patna,Dehradun,09:30,19:00,1 stop via New Delhi,"₹ 14,310"
1443,IndiGo,02/11/2021,Patna,Dehradun,02:05,15:40,1 stop via Bengaluru,"₹ 18,012"

Lenght :  1444

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-03/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1466,"Go First, Air India",03/11/2021,Patna,Dehradun,12:50,19:15,1 stop via New Delhi,"₹ 9,844"
1467,IndiGo,03/11/2021,Patna,Dehradun,08:25,15:25,1 stop via New Delhi,"₹ 9,875"
1468,"Spicejet, IndiGo",03/11/2021,Patna,Dehradun,09:30,15:25,1 stop via New Delhi,"₹ 10,316"
1469,"Go First, Spicejet",03/11/2021,Patna,Dehradun,13:40,19:00,1 stop via New Delhi,"₹ 11,995"
1470,IndiGo,03/11/2021,Patna,Dehradun,02:05,15:40,1 stop via Bengaluru,"₹ 17,960"

Lenght :  1471

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-04/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1487,Spicejet,04/11/2021,Patna,Dehradun,17:35,16:00,1 stop via New Delhi,"₹ 8,033"
1488,Air India,04/11/2021,Patna,Dehradun,12:40,19:15,1 stop via New Delhi,"₹ 8,170"
1489,"Air India, Spicejet",04/11/2021,Patna,Dehradun,12:40,19:00,1 stop via New Delhi,"₹ 8,612"
1490,"Go First, Air India",04/11/2021,Patna,Dehradun,13:40,19:15,1 stop via New Delhi,"₹ 9,424"
1491,"Go First, Spicejet",04/11/2021,Patna,Dehradun,13:40,19:00,1 stop via New Delhi,"₹ 9,475"

Lenght :  1492

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-DED-05/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
EXCEPTION IN (<ipython-input-3-e63b93705f05>, LINE 19 "driver.get(baseDataUrl)  			 # URL requested in browser."): Message: timeout: Timed out receiving message from renderer: 286.848
  (Session info: chrome=94.0.4606.71)

05/11/2021  scraping complete

origin = PAT
destin = CCU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1499,IndiGo,15/10/2021,Patna,Kolkata,21:30,08:15,1 stop via New Delhi,"₹ 10,610"
1500,Go First,15/10/2021,Patna,Kolkata,15:30,23:05,1 stop via New Delhi,"₹ 10,634"
1501,IndiGo,15/10/2021,Patna,Kolkata,21:30,04:50,1 stop via New Delhi,"₹ 10,977"
1502,IndiGo,15/10/2021,Patna,Kolkata,11:10,17:10,1 stop via New Delhi,"₹ 11,292"
1503,Air India,15/10/2021,Patna,Kolkata,16:00,22:20,1 stop via New Delhi,"₹ 12,027"

Lenght :  1504

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1517,IndiGo,16/10/2021,Patna,Kolkata,16:30,23:10,1 stop via New Delhi,"₹ 11,292"
1518,IndiGo,16/10/2021,Patna,Kolkata,16:30,22:00,1 stop via New Delhi,"₹ 11,922"
1519,IndiGo,16/10/2021,Patna,Kolkata,21:30,04:50,1 stop via New Delhi,"₹ 12,237"
1520,Vistara,16/10/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 13,602"
1521,Air India,16/10/2021,Patna,Kolkata,16:00,22:20,1 stop via New Delhi,"₹ 17,697"

Lenght :  1522

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1533,IndiGo,17/10/2021,Patna,Kolkata,21:30,04:50,1 stop via New Delhi,"₹ 13,287"
1534,IndiGo,17/10/2021,Patna,Kolkata,19:40,04:50,1 stop via New Delhi,"₹ 13,744"
1535,IndiGo,17/10/2021,Patna,Kolkata,18:00,23:10,1 stop via New Delhi,"₹ 15,319"
1536,IndiGo,17/10/2021,Patna,Kolkata,11:10,17:10,1 stop via New Delhi,"₹ 18,065"
1537,IndiGo,17/10/2021,Patna,Kolkata,16:30,22:00,1 stop via New Delhi,"₹ 19,110"

Lenght :  1538

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-18/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1547,IndiGo,18/10/2021,Patna,Kolkata,21:30,04:50,1 stop via New Delhi,"₹ 13,287"
1548,IndiGo,18/10/2021,Patna,Kolkata,16:30,22:00,1 stop via New Delhi,"₹ 13,812"
1549,IndiGo,18/10/2021,Patna,Kolkata,18:00,23:10,1 stop via New Delhi,"₹ 14,337"
1550,IndiGo,18/10/2021,Patna,Kolkata,14:50,22:00,1 stop via New Delhi,"₹ 15,182"
1551,IndiGo,18/10/2021,Patna,Kolkata,11:10,17:10,1 stop via New Delhi,"₹ 16,280"

Lenght :  1552

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-19/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1565,IndiGo,19/10/2021,Patna,Kolkata,12:10,20:10,1 stop via Lucknow,"₹ 11,450"
1566,IndiGo,19/10/2021,Patna,Kolkata,18:00,00:20,1 stop via New Delhi,"₹ 11,922"
1567,IndiGo,19/10/2021,Patna,Kolkata,21:30,04:50,1 stop via New Delhi,"₹ 12,237"
1568,IndiGo,19/10/2021,Patna,Kolkata,16:30,22:00,1 stop via New Delhi,"₹ 12,762"
1569,IndiGo,19/10/2021,Patna,Kolkata,18:00,23:10,1 stop via New Delhi,"₹ 13,287"

Lenght :  1570

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-20/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1579,IndiGo,20/10/2021,Patna,Kolkata,11:10,17:10,1 stop via New Delhi,"₹ 11,607"
1580,IndiGo,20/10/2021,Patna,Kolkata,18:00,00:20,1 stop via New Delhi,"₹ 11,607"
1581,IndiGo,20/10/2021,Patna,Kolkata,16:30,22:00,1 stop via New Delhi,"₹ 11,922"
1582,IndiGo,20/10/2021,Patna,Kolkata,14:50,22:00,1 stop via New Delhi,"₹ 11,922"
1583,IndiGo,20/10/2021,Patna,Kolkata,18:00,23:10,1 stop via New Delhi,"₹ 11,922"

Lenght :  1584

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-21/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1599,IndiGo,21/10/2021,Patna,Kolkata,16:30,00:20,1 stop via New Delhi,"₹ 11,292"
1600,IndiGo,21/10/2021,Patna,Kolkata,21:30,04:50,1 stop via New Delhi,"₹ 11,292"
1601,IndiGo,21/10/2021,Patna,Kolkata,18:00,23:10,1 stop via New Delhi,"₹ 11,607"
1602,IndiGo,21/10/2021,Patna,Kolkata,11:10,17:10,1 stop via New Delhi,"₹ 11,749"
1603,IndiGo,21/10/2021,Patna,Kolkata,16:30,22:00,1 stop via New Delhi,"₹ 11,922"

Lenght :  1604

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-22/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1612,IndiGo,22/10/2021,Patna,Kolkata,21:30,08:15,1 stop via New Delhi,"₹ 10,610"
1613,Go First,22/10/2021,Patna,Kolkata,07:45,13:10,1 stop via New Delhi,"₹ 10,634"
1614,IndiGo,22/10/2021,Patna,Kolkata,11:10,17:10,1 stop via New Delhi,"₹ 10,977"
1615,IndiGo,22/10/2021,Patna,Kolkata,18:00,23:10,1 stop via New Delhi,"₹ 10,977"
1616,IndiGo,22/10/2021,Patna,Kolkata,16:30,22:00,1 stop via New Delhi,"₹ 11,292"

Lenght :  1617

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-23/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1630,IndiGo,23/10/2021,Patna,Kolkata,18:00,23:10,1 stop via New Delhi,"₹ 10,977"
1631,IndiGo,23/10/2021,Patna,Kolkata,11:10,17:10,1 stop via New Delhi,"₹ 11,292"
1632,IndiGo,23/10/2021,Patna,Kolkata,16:30,23:10,1 stop via New Delhi,"₹ 11,434"
1633,IndiGo,23/10/2021,Patna,Kolkata,16:30,22:00,1 stop via New Delhi,"₹ 11,749"
1634,Air India,23/10/2021,Patna,Kolkata,16:00,22:20,1 stop via New Delhi,"₹ 12,867"

Lenght :  1635

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-24/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1643,IndiGo,24/10/2021,Patna,Kolkata,18:20,19:50,Non stop,"₹ 5,202"
1644,Vistara,24/10/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 9,443"
1645,IndiGo,24/10/2021,Patna,Kolkata,18:00,00:20,1 stop via New Delhi,"₹ 10,610"
1646,Go First,24/10/2021,Patna,Kolkata,15:30,23:05,1 stop via New Delhi,"₹ 10,634"
1647,IndiGo,24/10/2021,Patna,Kolkata,11:10,17:10,1 stop via New Delhi,"₹ 10,977"

Lenght :  1648

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-25/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1657,IndiGo,25/10/2021,Patna,Kolkata,11:10,17:10,1 stop via New Delhi,"₹ 10,610"
1658,IndiGo,25/10/2021,Patna,Kolkata,16:30,22:00,1 stop via New Delhi,"₹ 10,610"
1659,IndiGo,25/10/2021,Patna,Kolkata,14:50,22:00,1 stop via New Delhi,"₹ 10,610"
1660,IndiGo,25/10/2021,Patna,Kolkata,18:00,23:10,1 stop via New Delhi,"₹ 10,610"
1661,Air India,25/10/2021,Patna,Kolkata,16:00,22:20,1 stop via New Delhi,"₹ 10,767"

Lenght :  1662

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-26/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1672,IndiGo,26/10/2021,Patna,Kolkata,11:10,17:10,1 stop via New Delhi,"₹ 5,202"
1673,IndiGo,26/10/2021,Patna,Kolkata,15:15,19:20,1 stop via Guwahati,"₹ 5,202"
1674,IndiGo,26/10/2021,Patna,Kolkata,16:30,22:00,1 stop via New Delhi,"₹ 5,202"
1675,IndiGo,26/10/2021,Patna,Kolkata,18:00,23:10,1 stop via New Delhi,"₹ 5,202"
1676,Vistara,26/10/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 10,381"

Lenght :  1677

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-27/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1688,IndiGo,27/10/2021,Patna,Kolkata,14:50,22:00,1 stop via New Delhi,"₹ 5,202"
1689,IndiGo,27/10/2021,Patna,Kolkata,18:00,23:10,1 stop via New Delhi,"₹ 5,202"
1690,IndiGo,27/10/2021,Patna,Kolkata,21:30,04:50,1 stop via New Delhi,"₹ 5,659"
1691,Vistara,27/10/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 10,381"
1692,Air India,27/10/2021,Patna,Kolkata,16:00,22:20,1 stop via New Delhi,"₹ 10,767"

Lenght :  1693

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-28/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1706,IndiGo,28/10/2021,Patna,Kolkata,15:15,19:20,1 stop via Guwahati,"₹ 5,202"
1707,IndiGo,28/10/2021,Patna,Kolkata,16:30,22:00,1 stop via New Delhi,"₹ 5,202"
1708,IndiGo,28/10/2021,Patna,Kolkata,14:50,22:00,1 stop via New Delhi,"₹ 5,202"
1709,IndiGo,28/10/2021,Patna,Kolkata,18:00,23:10,1 stop via New Delhi,"₹ 5,202"
1710,Vistara,28/10/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 10,381"

Lenght :  1711

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-29/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1721,IndiGo,29/10/2021,Patna,Kolkata,14:50,22:00,1 stop via New Delhi,"₹ 5,659"
1722,IndiGo,29/10/2021,Patna,Kolkata,18:00,23:10,1 stop via New Delhi,"₹ 5,659"
1723,IndiGo,29/10/2021,Patna,Kolkata,21:30,04:50,1 stop via New Delhi,"₹ 6,116"
1724,IndiGo,29/10/2021,Patna,Kolkata,08:45,17:10,1 stop via New Delhi,"₹ 6,572"
1725,Vistara,29/10/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 10,381"

Lenght :  1726

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-30/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1739,IndiGo,30/10/2021,Patna,Kolkata,11:10,17:10,1 stop via New Delhi,"₹ 6,116"
1740,IndiGo,30/10/2021,Patna,Kolkata,14:50,22:00,1 stop via New Delhi,"₹ 6,572"
1741,IndiGo,30/10/2021,Patna,Kolkata,15:15,19:20,1 stop via Guwahati,"₹ 7,029"
1742,Air India,30/10/2021,Patna,Kolkata,16:00,22:20,1 stop via New Delhi,"₹ 10,743"
1743,Vistara,30/10/2021,Patna,Kolkata,20:30,09:35,1 stop via New Delhi,"₹ 10,916"

Lenght :  1744

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-31/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1758,IndiGo,31/10/2021,Patna,Kolkata,11:10,20:55,1 stop via New Delhi,"₹ 5,659"
1759,IndiGo,31/10/2021,Patna,Kolkata,08:25,19:40,1 stop via New Delhi,"₹ 6,116"
1760,IndiGo,31/10/2021,Patna,Kolkata,14:35,20:55,1 stop via New Delhi,"₹ 6,116"
1761,IndiGo,31/10/2021,Patna,Kolkata,11:10,17:20,1 stop via New Delhi,"₹ 9,313"
1762,Vistara,31/10/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 10,381"

Lenght :  1763

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-01/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1766,Air India,01/11/2021,Patna,Kolkata,10:55,12:10,Non stop,"₹ 4,338"
1767,Go First,01/11/2021,Patna,Kolkata,14:15,23:15,1 stop via Mumbai,"₹ 5,201"
1768,IndiGo,01/11/2021,Patna,Kolkata,08:55,10:05,Non stop,"₹ 5,202"
1769,IndiGo,01/11/2021,Patna,Kolkata,16:20,17:25,Non stop,"₹ 5,202"
1770,IndiGo,01/11/2021,Patna,Kolkata,19:10,20:15,Non stop,"₹ 5,202"

Lenght :  1771

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-02/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1785,IndiGo,02/11/2021,Patna,Kolkata,11:10,19:40,1 stop via New Delhi,"₹ 6,116"
1786,IndiGo,02/11/2021,Patna,Kolkata,23:55,05:10,1 stop via New Delhi,"₹ 6,116"
1787,IndiGo,02/11/2021,Patna,Kolkata,22:20,05:10,1 stop via New Delhi,"₹ 6,116"
1788,IndiGo,02/11/2021,Patna,Kolkata,11:10,17:20,1 stop via New Delhi,"₹ 7,029"
1789,Vistara,02/11/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 10,381"

Lenght :  1790

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-03/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1808,IndiGo,03/11/2021,Patna,Kolkata,22:20,05:10,1 stop via New Delhi,"₹ 6,116"
1809,IndiGo,03/11/2021,Patna,Kolkata,20:15,05:10,1 stop via New Delhi,"₹ 6,116"
1810,IndiGo,03/11/2021,Patna,Kolkata,11:10,17:20,1 stop via New Delhi,"₹ 7,486"
1811,Air India,03/11/2021,Patna,Kolkata,12:40,19:10,1 stop via New Delhi,"₹ 9,903"
1812,Vistara,03/11/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 10,381"

Lenght :  1813

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-04/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1827,IndiGo,04/11/2021,Patna,Kolkata,20:15,05:10,1 stop via New Delhi,"₹ 5,202"
1828,IndiGo,04/11/2021,Patna,Kolkata,01:30,08:10,1 stop via New Delhi,"₹ 5,659"
1829,IndiGo,04/11/2021,Patna,Kolkata,11:10,17:20,1 stop via New Delhi,"₹ 6,116"
1830,IndiGo,04/11/2021,Patna,Kolkata,08:25,17:20,1 stop via New Delhi,"₹ 6,116"
1831,Vistara,04/11/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 9,264"

Lenght :  1832

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-05/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1846,IndiGo,05/11/2021,Patna,Kolkata,15:30,20:55,1 stop via New Delhi,"₹ 6,116"
1847,IndiGo,05/11/2021,Patna,Kolkata,14:35,20:55,1 stop via New Delhi,"₹ 6,116"
1848,Vistara,05/11/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 9,264"
1849,Air India,05/11/2021,Patna,Kolkata,12:40,19:10,1 stop via New Delhi,"₹ 10,312"
1850,Go First,05/11/2021,Patna,Kolkata,16:05,21:45,1 stop via New Delhi,"₹ 10,634"

Lenght :  1851

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-06/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1867,IndiGo,06/11/2021,Patna,Kolkata,14:35,20:55,1 stop via New Delhi,"₹ 6,572"
1868,IndiGo,06/11/2021,Patna,Kolkata,11:10,17:20,1 stop via New Delhi,"₹ 7,029"
1869,IndiGo,06/11/2021,Patna,Kolkata,08:25,17:20,1 stop via New Delhi,"₹ 7,029"
1870,Vistara,06/11/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 9,443"
1871,Air India,06/11/2021,Patna,Kolkata,12:40,19:10,1 stop via New Delhi,"₹ 10,767"

Lenght :  1872

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-07/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1885,IndiGo,07/11/2021,Patna,Kolkata,11:10,17:20,1 stop via New Delhi,"₹ 8,856"
1886,IndiGo,07/11/2021,Patna,Kolkata,20:15,05:10,1 stop via New Delhi,"₹ 8,856"
1887,Vistara,07/11/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 9,889"
1888,IndiGo,07/11/2021,Patna,Kolkata,14:35,20:55,1 stop via New Delhi,"₹ 10,226"
1889,Go First,07/11/2021,Patna,Kolkata,16:05,21:45,1 stop via New Delhi,"₹ 10,634"

Lenght :  1890

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-08/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1904,IndiGo,08/11/2021,Patna,Kolkata,15:30,20:55,1 stop via New Delhi,"₹ 5,659"
1905,IndiGo,08/11/2021,Patna,Kolkata,14:35,20:55,1 stop via New Delhi,"₹ 6,116"
1906,IndiGo,08/11/2021,Patna,Kolkata,11:10,17:20,1 stop via New Delhi,"₹ 6,572"
1907,Vistara,08/11/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 9,264"
1908,Air India,08/11/2021,Patna,Kolkata,12:40,19:10,1 stop via New Delhi,"₹ 9,364"

Lenght :  1909

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-09/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1922,IndiGo,09/11/2021,Patna,Kolkata,20:15,05:10,1 stop via New Delhi,"₹ 5,202"
1923,IndiGo,09/11/2021,Patna,Kolkata,18:20,05:10,1 stop via New Delhi,"₹ 5,659"
1924,IndiGo,09/11/2021,Patna,Kolkata,11:10,17:20,1 stop via New Delhi,"₹ 6,116"
1925,Vistara,09/11/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 9,264"
1926,Go First,09/11/2021,Patna,Kolkata,16:05,21:45,1 stop via New Delhi,"₹ 10,634"

Lenght :  1927

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-10/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1945,IndiGo,10/11/2021,Patna,Kolkata,22:20,05:10,1 stop via New Delhi,"₹ 6,116"
1946,IndiGo,10/11/2021,Patna,Kolkata,20:15,05:10,1 stop via New Delhi,"₹ 6,116"
1947,IndiGo,10/11/2021,Patna,Kolkata,18:20,05:10,1 stop via New Delhi,"₹ 6,116"
1948,Vistara,10/11/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 9,264"
1949,Air India,10/11/2021,Patna,Kolkata,12:40,19:10,1 stop via New Delhi,"₹ 10,732"

Lenght :  1950

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-11/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1969,IndiGo,11/11/2021,Patna,Kolkata,11:10,17:20,1 stop via New Delhi,"₹ 10,226"
1970,IndiGo,11/11/2021,Patna,Kolkata,15:30,20:55,1 stop via New Delhi,"₹ 10,226"
1971,IndiGo,11/11/2021,Patna,Kolkata,20:15,05:10,1 stop via New Delhi,"₹ 10,226"
1972,IndiGo,11/11/2021,Patna,Kolkata,14:35,20:55,1 stop via New Delhi,"₹ 10,683"
1973,Go First,11/11/2021,Patna,Kolkata,16:05,21:45,1 stop via New Delhi,"₹ 11,790"

Lenght :  1974

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-12/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
1990,IndiGo,12/11/2021,Patna,Kolkata,01:30,08:10,1 stop via New Delhi,"₹ 9,021"
1991,IndiGo,12/11/2021,Patna,Kolkata,11:10,19:40,1 stop via New Delhi,"₹ 9,021"
1992,Go First,12/11/2021,Patna,Kolkata,12:25,20:10,1 stop via Bengaluru,"₹ 9,238"
1993,Vistara,12/11/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 9,590"
1994,IndiGo,12/11/2021,Patna,Kolkata,23:55,05:10,1 stop via New Delhi,"₹ 11,030"

Lenght :  1995

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-13/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
2011,IndiGo,13/11/2021,Patna,Kolkata,15:30,20:55,1 stop via New Delhi,"₹ 9,021"
2012,Vistara,13/11/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 9,590"
2013,IndiGo,13/11/2021,Patna,Kolkata,23:55,05:10,1 stop via New Delhi,"₹ 9,663"
2014,IndiGo,13/11/2021,Patna,Kolkata,22:20,05:10,1 stop via New Delhi,"₹ 9,921"
2015,Air India,13/11/2021,Patna,Kolkata,12:40,19:10,1 stop via New Delhi,"₹ 18,464"

Lenght :  2016

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-14/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
2033,IndiGo,14/11/2021,Patna,Kolkata,23:55,05:10,1 stop via New Delhi,"₹ 8,976"
2034,Vistara,14/11/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 9,590"
2035,Go First,14/11/2021,Patna,Kolkata,13:40,21:45,1 stop via New Delhi,"₹ 9,743"
2036,IndiGo,14/11/2021,Patna,Kolkata,22:20,05:10,1 stop via New Delhi,"₹ 10,190"
2037,IndiGo,14/11/2021,Patna,Kolkata,15:30,20:55,1 stop via New Delhi,"₹ 10,281"

Lenght :  2038

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=PAT-CCU-15/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
2053,Air India,15/11/2021,Patna,Kolkata,12:40,19:10,1 stop via New Delhi,"₹ 8,503"
2054,IndiGo,15/11/2021,Patna,Kolkata,11:10,17:20,1 stop via New Delhi,"₹ 8,976"
2055,IndiGo,15/11/2021,Patna,Kolkata,01:30,08:10,1 stop via New Delhi,"₹ 9,021"
2056,IndiGo,15/11/2021,Patna,Kolkata,22:20,05:10,1 stop via New Delhi,"₹ 9,021"
2057,Vistara,15/11/2021,Patna,Kolkata,20:30,08:20,1 stop via New Delhi,"₹ 9,590"

Lenght :  2058

--------------
origin = jknaknnaknja
destin = PAT

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=jknaknnaknja-PAT-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-e63b93705f05>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

15/10/2021  scraping complete

origin = jknaknnaknja
destin = jknaknnaknja

-----Skiped-----

origin = jknaknnaknja
destin = MAA

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=jknaknnaknja-MAA-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-e63b93705f05>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

15/10/2021  scraping complete

origin = jknaknnaknja
destin = LKU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=jknaknnaknja-LKU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-e63b93705f05>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

15/10/2021  scraping complete

origin = jknaknnaknja
destin = VNS

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=jknaknnaknja-VNS-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-e63b93705f05>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

15/10/2021  scraping complete

origin = jknaknnaknja
destin = DED

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=jknaknnaknja-DED-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-e63b93705f05>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

15/10/2021  scraping complete

origin = jknaknnaknja
destin = CCU

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=jknaknnaknja-CCU-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-e63b93705f05>, LINE 25 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

15/10/2021  scraping complete

--------------
origin = MAA
destin = PAT

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=MAA-PAT-15/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
2075,IndiGo,15/10/2021,Chennai,Patna,12:20,19:10,1 stop via New Delhi,"₹ 8,644"
2076,Air India,15/10/2021,Chennai,Patna,07:00,14:10,1 stop via Kolkata,"₹ 8,928"
2077,"Air India, IndiGo",15/10/2021,Chennai,Patna,07:00,12:50,1 stop via Kolkata,"₹ 9,852"
2078,"AirAsia, Air India",15/10/2021,Chennai,Patna,07:50,14:10,1 stop via Kolkata,"₹ 9,852"
2079,Vistara,15/10/2021,Chennai,Patna,21:10,19:50,"2 stop via Mumbai,New Delhi","₹ 15,295"

Lenght :  2080

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=MAA-PAT-16/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Go First,15/10/2021,Patna,Chennai,16:55,23:15,1 stop via Mumbai,"₹ 7,511"
2,IndiGo,15/10/2021,Patna,Chennai,08:40,16:10,1 stop via Bengaluru,"₹ 7,512"
3,IndiGo,15/10/2021,Patna,Chennai,11:20,17:30,1 stop via Mumbai,"₹ 7,512"
4,IndiGo,15/10/2021,Patna,Chennai,11:35,17:55,1 stop via Hyderabad,"₹ 7,512"
...,...,...,...,...,...,...,...,...
2092,IndiGo,16/10/2021,Chennai,Patna,06:20,14:20,1 stop via New Delhi,"₹ 7,998"
2093,IndiGo,16/10/2021,Chennai,Patna,10:00,15:55,1 stop via New Delhi,"₹ 7,998"
2094,Air India,16/10/2021,Chennai,Patna,06:10,15:20,1 stop via New Delhi,"₹ 9,141"
2095,Vistara,16/10/2021,Chennai,Patna,10:50,19:50,1 stop via New Delhi,"₹ 9,949"
2096,Go First,16/10/2021,Chennai,Patna,05:30,16:25,1 stop via Mumbai,"₹ 12,779"

Lenght :  2097

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=MAA-PAT-17/10/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E